/* Базовые стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 10px 20px;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}
.burger {
  display: none; /* Скрываем на больших экранах */
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px 0;
}

@media (max-width: 768px){
  .nav-links{
    top: - 100%;
    position: absolute;
    left: 0px;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #333;
    transition: all 0.5s ease;
    opacity: 0;
    font-size: 2em;
  }
  .nav-links.active{
    top: 0%;
    opacity: 1;
    transition-delay: .5s;
    pointer-events: auto;
  }
  .nav-links li a{
    padding: 18px 10px;
  }
  .burger{
    display: block;
    z-index: 100;
  }
}

