*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding:20px;
}
.card{
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding:20px;
    border-radius: 20px;
}
.card{
    img{
        width:100%;
        border-radius: 10px;
    }
    .information{
        margin-left: 50px;
    }
    h1{
        font-size:50px;
        margin: 40px 0px;
    }
    div{
        font-size:30px;
    }
    .action{
        display: flex;
        margin-bottom: 40px;
    }
    .action div{
        border:1px solid black;
        border-radius: 10px;
        margin-right: 20px;
        padding: 10px;
        font-weight: bold;
    }
    .description {
        margin-bottom: 40px;
        width: 100%;
    }
    .description>div{
        display: flex;
        justify-content: space-between;
    }
    .price{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .price div{
        font-size:40px;
    }
    .price div:nth-child(2){
        color: brown
    }
    .add{
        color:white;
        background-color: brown;
        padding:20px;
        text-align: center;
        border-radius: 10px;
    }
}

@media screen and (max-width:800px){
    .card{
        display: block;
        color: white;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
        background: black;
        .information{
        margin-left: 0px;
    } 
    .action div{
        border:1px solid white;
    }
    }
}

